version: '3'

services:
  web:
    image: nginx
    volumes:
      - ./templates:/etc/nginx/templates
    ports:
      - "8014:80"
    environment:
      - NGINX_PORT=${NGINX_PORT:-80}
    networks:
      - nginx-proxy-manager_default	
